<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
    <!-- Username Input -->
    <app-input inputType="text" label="Username" [control]="$any(authForm.get('username'))"></app-input>

    <!-- Password Input -->
    <app-input inputType="password" label="Password" [control]="$any(authForm.get('password'))"></app-input>

    <!-- Password Confirmation Input -->
    <app-input inputType="password" label="Password Confirmation" [control]="$any(authForm.get('passwordConfirmation'))"></app-input>

    <div *ngIf="
    authForm.get('password')!.touched &&
    authForm.get('passwordConfirmation')!.touched &&
    authForm.errors
    "
    class="ui red basic label"
    >
        <p *ngIf="authForm.errors!['passwordsDontMatch']">
            Password and Password Confirmation must
        </p>
        <p *ngIf="authForm.errors!['noConnection']">
            No internet connection detected, failed to sign up
        </p>
        <p *ngIf="authForm.errors!['unknownError']">
            Something went wrong, failed to sign up
        </p>
    </div>

    <!-- Submit Button -->
    <div>
        <button class="ui submit button primary">Submit</button>
    </div>
</form>